{% extends 'toast/fullpage.html' %}
{% block title %}Uh-Oh{% endblock %}
{% block heads %}
<meta http-equiv="refresh" content="5; url={% url 'home' %}">
{% endblock %}

{% block content %}
    <h2>Hmm</h2>
    <p>Ran into an issue - you might have already logged in behind my back. Sending you <a href="{% url 'home' %}">home</a> in a sec...</p>
{% endblock %}
