{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'bread.png' %}" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>{% block title %}{{ TOAST_NAME }} TOaST: Tournament Officials Season Tracker{% endblock %}</title>
  {% block heads %}
  {% endblock %}
  </head>
  <body>



  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="{% url 'index' %}">{{ TOAST_NAME }} TOaST</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="{% url 'current_season' %}">Upcoming Events</a>
      </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Your Events
        </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'your_avails' %}">Events You're Available For</a>
                <a class="dropdown-item" href="{% url 'your_events' %}">Events You're Responsible For</a>
                <a class="dropdown-item" href="{% url 'create_event' %}">Create Event</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Your Leagues
        </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for league in user.person.representative_of_leagues.all %}
                    <a class="dropdown-item" href="{% url 'league' league.pk %}">{{ league.name }}</a>
                {% endfor %}
                <a class="dropdown-item" href="#"><hr/></a>
                <a class="dropdown-item" href="{% url 'create_league' %}">Create League &amp; Teams</a>
            </div>
        </li>

        {% if user.is_staff %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/admin">Admin Backend</a>
                <a class="dropdown-item" href="{% url 'league_rep_report' %}">League Rep Report</a>
                <a class="dropdown-item" href="{% url 'spring_clean' %}">Old Data Spring Clean</a>
            </div>
        </li>
        {% endif %}

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          📅
        </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'ical' %}" title="All Events iCalendar Link">📆 All Events iCalendar Link</a>
                <a class="dropdown-item" href="{% url 'tournament_ical' %}" title="Tournament iCalendar Link">🗓️ Tournament iCalendar Link</a>
            </div>
        </li>

        <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}" title="About">❓</a>
        </li>
    </ul>
      {% if user.is_authenticated %}
    <span class="navbar-text">
        <a href="{% url 'myprofile' %}"><i class="bi-person-fill"></i>&nbsp;{{ user.person.display_name }}</a>
    {% if user.person.is_tournament_head_official %}
        <span class="badge badge-secondary">THO</span>
        {% endif %}
            {% if user.is_staff %}
            <span class="badge badge-secondary">Staff</span>
                {% endif %}
        {% if user.is_superuser  %}
            <span class="badge badge-secondary">Superuser</span>
        {% endif %} | <a href="{% url 'logout' %}"><small>Log out</small></a>
    </span>
      {% endif %}
  </div>
</nav>
    {% block body %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://s3-eu-west-1.amazonaws.com/inferno-frontend/js/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>


    {% block postscripts %}
    {% endblock %}

  </body>
</html>
