{% extends 'toast/base.html' %}
{% block body %}

    <div class="container-fluid mt-3 mb-3">
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message}}
                </div>
            {% endfor %}
            </ul>
        {% endif %}
    
        {% block content %}
        {% endblock content %}
    </div>
{% endblock body %}
