{% extends 'toast/fullpage.html' %}
{% block content %}
    <h2>Create Account</h2>
    <p>By creating an account, you agree to occasionally receive notification e-mails from the system. Your data is never shared with third parties.</p>
    <form action="{% url 'create_account' %}" method="post">
        {% csrf_token %}
        {% if create_form.non_field_errors %}
            <div class="alert alert-danger">
            {{ create_form.non_field_errors }}
            </div>
        {% endif %}


        {% if create_form.email.errors %}
        <div class="alert alert-danger">
        {{ create_form.email.errors }}
        </div>
        {% endif %}
        <div class="form-group">
            <label for="{{ create_form.email.id_for_label }}">E-mail address</label>
            <input type="email" class="form-control" id="{{ create_form.email.id_for_label }}" name="{{ create_form.email.html_name }}"
                   aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        {% if create_form.derbyname.errors %}
        <div class="alert alert-danger">
        {{ create_form.derbyname.errors }}
        </div>
        {% endif %}
        <div class="form-group">

            <label for="{{ create_form.derbyname.id_for_label }}">Preferred (Derby) Name</label>
            <input type="text" class="form-control" id="{{ create_form.derbyname.id_for_label }}" name="{{ create_form.derbyname.html_name }}"
                   placeholder="Enter your public/Derby name">
        </div>

        {% if create_form.password1.errors %}
        <div class="alert alert-danger">
        {{ create_form.password1.errors }}
        </div>
        {% endif %}
        <div class="form-group">

            <label for="{{ create_form.password1.id_for_label }}">Password</label>
            <input type="password" class="form-control" id="{{ create_form.password1.id_for_label }}" name="{{ create_form.password1.html_name }}"
                   placeholder="Password">
        </div>

        {% if create_form.password2.errors %}
        <div class="alert alert-danger">
        {{ create_form.password2.errors }}
        </div>
        {% endif %}
        <div class="form-group">
            <label for="{{ create_form.password2.id_for_label }}">Password</label>
            <input type="password" class="form-control" id="{{ create_form.password2.id_for_label }}" name="{{ create_form.password2.html_name }}"
                   placeholder="Confirm Password">
        </div>

        <input type="submit" class="btn btn-primary" value="Create...">
    </form>
{% endblock %}
