{% extends 'toast/fullpage.html' %}
{% load widget_tweaks %}
{% load humanize %}
{% load static %}
{% block content %}
    <h1>{{ event.friendly_name }}</h1>

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Edit nominating league for <strong>{{ who }}</strong></h2>

            <div class="text-danger">{{ form.non_field_errors }}</div>

            <form action="{% url 'edit_availability_nomination' form.instance.pk %}" method="post">
                {% csrf_token %}
                {{ form.person.as_hidden }}
                {{ form.event.as_hidden }}


                <div class="form-group">
                    {{ form.nominating_league.errors }}
                    {{ form.nominating_league.label_tag }}
                    {{ form.nominating_league|add_class:"form-control" }}
                </div>


                <input type="submit" value="Save" class="btn btn-primary" />
                <a href="javascript:window.history.back(1)" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}
