{% extends 'toast/fullpage.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Send Message</h2>
            <form action="{{ form_action_url }}" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}

                <div class="form-group">
                    {{ form.from_label.errors }}
                    {{ form.from_label.label_tag }}
                    {{ form.from_label|add_class:"form-control" }}
                </div>

                <div class="form-group">
                    {{ form.to_label.errors }}
                    {{ form.to_label.label_tag }}
                    {{ form.to_label|add_class:"form-control" }}
                </div>

                <div class="form-group">
                    {{ form.regarding_event_label.errors }}
                    {{ form.regarding_event_label.label_tag }}
                    {{ form.regarding_event_label|add_class:"form-control" }}
                </div>

                <div class="form-group">
                    {{ form.subject.errors }}
                    {{ form.subject.label_tag }}
                    {{ form.subject|add_class:"form-control" }}
                </div>

                <div class="form-group">
                    {{ form.message.errors }}
                    {{ form.message.label_tag }}
                    {{ form.message|add_class:"form-control" }}
                </div>
                <p>You will receive a copy of this message.</p>
                <input type="submit" value="Send" class="btn btn-primary" />
                <a href="javascript:window.history.back(1)" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}
